#header {
    height: 1.5%;
    background-color: rgb(114, 114, 114);
}
#app {
    height: 99%;
    width: 100%;
    margin: auto;
    border: solid black;
    border-width: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(97, 161, 199);
}
#selectors {
    margin-left: 2%;
    font-size: 24px;
    font-weight: 600;
}
body {
    margin: 0px;
}
h1, h2, h3 {
    margin: 0;
    text-align: center;
}